apiVersion: v1
kind: Secret
metadata:
  name: durable-keda
  namespace: default
data:
  AzureWebJobsStorage: <YOUR_CONNECTION_STRING_BASE64_HERE>
  FUNCTIONS_WORKER_RUNTIME: ZG90bmV0
  WEBSITE_HOSTNAME: bG9jYWxob3N0Ojgw