apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app: keda-durable-scaler
  name: keda-durable-scaler
  namespace: keda
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    app: keda-durable-scaler
  name: keda-durable-scaler
  namespace: keda
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
- kind: ServiceAccount
  name: keda-durable-scaler
  namespace: keda
---
apiVersion: v1
kind: Service
metadata:
  name: durable-external-scaler-service
  namespace: keda
spec:
  selector:
    service: keda-durable-external-scaler
  ports:
  - protocol: TCP
    port: 5000
    targetPort: 5000
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: keda-durable-external-scaler
  namespace: keda
spec:
  selector:
    matchLabels:
      service: keda-durable-external-scaler
  replicas: 1
  template:
    metadata:
      labels:
        service: keda-durable-external-scaler
    spec:
      serviceAccountName: keda-durable-scaler
      containers:
      - image: tsuyoshiushio/durableexternalscaler:latest
        name: scaler
        ports:
          - containerPort: 5000
        env:
        - name: CONNECTION_STRING
          valueFrom:
            secretKeyRef:
              name: keda-durable-external-scaler
              key: connection-string 
        - name: TASK_HUB
          value: DurableFunctionsHub
        - name: MAX_POLLING_INTERVAL
          value: "5000"
        - name: Logging__LogLevel__Grpc
          value: Debug
        - name: Logging__LogLevel__Keda.Durable.Scaler.Server.Services.ExternalScalerService
          value: Debug
        - name: Logging__LogLevel__Default
          value: Information
        - name: CERT_PATH
          value: /certs/grpcsv.pfx
        - name: CERT_PASS
          value: keda
        volumeMounts:
        - name: certs
          mountPath: /certs
          readOnly: true
      volumes:
      - name: certs
        secret:
          secretName: keda-durable-external-scaler